.container {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    align-items: center;
}
.search{
    margin-left: auto;
    margin-right: 15px;
 }
 .travellers{
   background-color: #fffbfe;
   width: 300px;
   max-height: 400px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-radius: 10px;
   overflow-y: auto;
   overflow-x: hidden;
 }
 .passengerPanel{
     margin-top:5px;
     margin-right:5px;
     margin-left: 5px;
     display:flex;
     justify-content: space-between;
 }
 .searchCity{
    width: 400px;
    height: auto;
    border-radius: 10px;
    background: #fffbfe;
    text-align: center;
    margin-top: -180px;
    margin-left:-330px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


 
   
 
 
 
  
 
 
 
 
 