<div class="container">
    <mat-form-field appearance="outline" (click)="showSearch = !showSearch" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <mat-icon matPrefix>place</mat-icon>
        <input matInput required placeholder="Leaving from" [(ngModel)]="origin">
    </mat-form-field>
        <button mat-icon-button class="iconButton" (click)="swapInput()">
            <mat-icon color="accent">compare_arrows</mat-icon>
        </button>
    <mat-form-field appearance="outline" (click)="showSearch = !showSearch" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <mat-icon matPrefix>place</mat-icon>
        <input matInput required placeholder="Going to"  [(ngModel)]="destination">
    </mat-form-field>
    <mat-form-field appearance="outline" (click)="picker.open()">
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date"  formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker startView="month"
            (daySelected)="setRange(range.value.start, range.value.end, picker)"></mat-date-range-picker>
        </mat-form-field>
</div>
<div class="container">
    <mat-form-field appearance="outline" cdkOverlayOrigin #trig="cdkOverlayOrigin" (click)="showTrav = !showTrav">
        <input matInput placeholder="Travellers" [value]="totalPassengers+ str">
    </mat-form-field>
    <mat-chip-listbox>
        <mat-chip-option *ngFor="let option of passengerOptions" [selected]="option === 'Economy'">{{ option }}</mat-chip-option>
    </mat-chip-listbox> 
    <button class="search" mat-fab extended color="primary">Search</button>
</div>
<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trig"
[cdkConnectedOverlayOpen]="showTrav">
<div class="travellers" *ngIf="showTrav">
    <div *ngFor="let passengerType of passengerTypes">
        <div class="passengerPanel">
        <span>{{ passengerType.label }}</span>
        <span class="b">
            <button mat-mini-fab (click)="incrementPassenger(passengerType.type); calculateTotal()" [disabled]="isIncremetentDisabilited(passengerType.type)">
                <mat-icon>add</mat-icon>
            </button>
            <span class="number">{{ passengers[passengerType.type] }}</span>
            <button mat-mini-fab (click)="decrementPassenger(passengerType.type); calculateTotal()" [disabled]="isDecrementDisabilited(passengerType.type)">
                <mat-icon>remove</mat-icon>
            </button>
        </span>
        </div>
        <div class="ages" *ngIf="passengers[passengerType.type] > 0 && passengerType.type != 'adult'">
            <div *ngFor="let _ of createArray(passengers[passengerType.type]); let i = index" class="ageContainer">
                <mat-form-field appearance="outline">
                    <mat-label>{{ passengerType.ageLabel }}</mat-label>
                    <mat-select [required]="true">
                        <mat-option *ngFor="let age of (passengerType.type === 'children' ? childrenAges : infantsAges)" [value]="age">{{ age }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="passengerPanel">
        <span></span>
        <button class="done" mat-button color="accent" (click)="calculateTotal(); showTrav = false">Done</button>
    </div>
</div>
</ng-template>
<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="showSearch">
<div class="searchCity" *ngIf="showSearch">
    <app-city-and-airport-search></app-city-and-airport-search>
</div>
</ng-template>




