.containerResult {
    padding: 20px;
    width: 100%;
  }
  .content {
    display: flex;
    gap: 10px;
  }
  
  .filter {
    flex: 0 0 30%; 
  }
  
  .result {
    flex: 0 0 70%; 
  }
 .singleResult{
  margin-top: 10px;
  background-color: #fffbfe;
  padding: 10px;
  border-radius: 15px;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
 }
 .row{
  height: 100% !important;
  width: 100% !important;
 }
 .orderby{
  display: flex;
  max-width: 900px;
  flex-direction: row-reverse;
 }
 
 .optionsF{
  background-color: #fffbfe;
  width: 300px;
  max-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
 }
 .optionPanel{
  margin-left: 5px;
  margin-top: 5px;
 }
 :host{
  overflow-x: hidden;
 }

 