<mat-form-field class="searchBar">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" placeholder="Search a City or Airport">
</mat-form-field>
<div>
    <mat-list *ngIf="results$ | async as results">
        <mat-list-item *ngFor="let result for results" (click)="onSelect(result)">
            <span matListItemTitle>{{result.name}}({{result.aitaCode}})</span>
            <span matListItemLine>{{result.address.countryName}}</span>
        </mat-list-item>
    </mat-list>   
</div>
