<div class="d-flex form-control rounded-pill" style="margin: 10px; width:93%;">
    <i class="bi bi-search"></i>
    <input type="text" [(ngModel)]="cityOrAirport"(keypress)="searchCityOrAirport()" placeholder="Search a City or Airport" style="border:none; width: 75%;">
</div>
<div class="resultSearch">
    <div class="list-group rounded-4" style="margin: 10px;">
        <button type="button" *ngFor="let result of results" class="list-group-item list-group-item-action" (click)="onSelect(result)">
            <span class="descriptionDet"> {{result.name}}({{result.iataCode}})</span>
            <span class="description">{{result.address.countryName}}</span>
        </button>
    </div> 
    <ng-container *ngIf="results.length == 0 && errorString.length > 0">
        <div class="alert alert-light text-center rounded-4" role="alert" style="width:250px; margin:20px;">
            <i class="bi bi-info-circle"></i> {{errorString}}</div>
    </ng-container>
</div>
