.card {
    max-width: 1200px;
  }
.tab-content{
  width: 100% !important;
}
.row{
  width: 100% !important;
}
.optionsF{
  background-color: #fffbfe;
  width: 300px;
  max-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
 }
 .optionPanel{
  margin-left: 5px;
  margin-top: 5px;
 }
 

 @media (max-width: 767.98px) {
  .btn-arrow{
    transform: rotate(270deg);
    margin-left: 80px;
  }
  .button-swap{
    margin-top:-20px;
    margin-bottom: -20px;
    
  }
}
.btn-round{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.button-swap{
  margin-left: -25px;
  margin-right: -25px;
}
.error {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}
 
 
 
 
 