
<div class="card">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <ul class="nav nav-pills nav-pills-primary-soft mb-3" id="tour-pills-tab" role="tablist">
                    <li class="nav-item me-2">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab-roundTrip">Round Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#tab-oneWay">One Way</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-roundTrip">
                <div class="row g-4 needs-validation" novalidate>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-geo-alt"></i> From</label>
                            <input type="text" class="form-control rounded-pill" [(ngModel)]="origin" placeholder="From" aria-label="From" (click)="showSearchFrom = !showSearchFrom; showSearchTo = false" 
                            cdkOverlayOrigin #triggerFrom="cdkOverlayOrigin" required>
                            <div class="invalid-feedback" *ngIf="!origin && formSubmitted">
                                Please provide a valid city.
                              </div>
                        </div>
                    </div>
                    <div class="col-md-auto mt-3 mt-md-0 d-flex align-items-center button-swap">
                        <button class="btn btn-arrow btn-white btn-round mb-0 text-primary" (click)="swapInput()">
                            <i class="bi bi-arrow-left-right"></i>
                        </button>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-send"></i> To</label>
                            <input type="text" class="form-control rounded-pill" [(ngModel)]="destination" placeholder="To" aria-label="To" (click)="showSearchTo = !showSearchTo; showSearchFrom = false" 
                            cdkOverlayOrigin #triggerTo="cdkOverlayOrigin" required>
                            <div class="invalid-feedback" *ngIf="!destination && formSubmitted">
                                Please provide a valid city.
                              </div>
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-calendar-event"></i> Date</label>
                            <form class="form-control rounded-pill" (click)="picker.open()" style="display: flex; align-items: center; height: 40px;">
                                <mat-date-range-input [rangePicker]="picker" [formGroup]="u.range">
                                    <input matStartDate placeholder="Start date" formControlName="start" required>
                                    <input matEndDate placeholder="End date"  formControlName="end" required>
                                </mat-date-range-input>
                                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker startView="month"
                                        (daySelected)="u.setRange(u.range.value.start, u.range.value.end, picker)"></mat-date-range-picker>
                            </form>
                            <div class="invalid-feedback" *ngIf="!u.range.valid && formSubmitted">
                                Please provide a valid range date.
                              </div>
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-person"></i> Travelers</label>
                            <input type="text" class="form-control rounded-pill" placeholder="Travelers" aria-label="Travelers" 
                            [value]="u.totalPassengers+ u.str" cdkOverlayOrigin #trig="cdkOverlayOrigin" (click)="showTrav = !showTrav" required>
                            <div class="invalid-feedback" *ngIf="u.totalPassengers <= 0 && formSubmitted">
                                Please provide a valid number of travelers.
                              </div>
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-suitcase"></i> Travel class</label>
                            <mat-chip-listbox>
                                <mat-chip-option *ngFor="let option of u.passOption" [selected]="option.label === selectedOption.label" color="accent"
                                    (click)="selectedOption = option">{{ option.label }}</mat-chip-option>
                            </mat-chip-listbox> 
                            <div class="invalid-feedback" *ngIf="!selectedOption && formSubmitted">
                                Please provide a valid travel class.
                            </div>
                        </div> 
                    </div>
                    <div class="col-12 text-end pt-0">
                        <button class="btn btn-primary mb-n4 rounded-pill" (click)="searchFlightRoundTrip()"> Search</button>
                    </div>
                </div>
            </div>
           <!--<div class="tab-pane" id="tab-oneWay">
                <div class="row g-4">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-geo-alt"></i> From</label>
                            <input type="text" class="form-control rounded-4" [(ngModel)]="origin" placeholder="From" aria-label="From" (click)="showSearchFrom = !showSearchFrom; showSearchTo = false" 
                            cdkOverlayOrigin #triggerFrom="cdkOverlayOrigin">
                        </div>
                    </div>
                    <div class="col-md-auto mt-3 mt-md-0 d-flex align-items-center button-swap">
                        <button class="btn btn-white btn-round mb-0 text-primary" (click)="swapInput()">
                            <i class="bi bi-arrow-left-right"></i>
                        </button>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-send"></i> To</label>
                            <input type="text" class="form-control rounded-4" [(ngModel)]="destination" placeholder="To" aria-label="To" (click)="showSearchTo = !showSearchTo; showSearchFrom = false" 
                            cdkOverlayOrigin #triggerTo="cdkOverlayOrigin">
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-calendar-event"></i> Date</label>
                            <form class="form-control rounded-4" (click)="pick.open()" style="display: flex; align-items: center; height: 40px;">
                                <input matInput [matDatepicker]="pick" [formControl]="u.date" style="border:none; width: 75%;">
                                <mat-datepicker-toggle matPrefix [for]="pick"></mat-datepicker-toggle>
                                <mat-datepicker #pick startView="month"
                                        (daySelected)="u.setDate(u.date.value, pick)"></mat-datepicker>
                            </form>
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-person"></i> Travelers</label>
                            <input type="text" class="form-control rounded-4" placeholder="Travelers" aria-label="Travelers" 
                            [value]="u.totalPassengers+ u.str" cdkOverlayOrigin #trig="cdkOverlayOrigin" (click)="showTrav = !showTrav">
                        </div> 
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                            <label class="mb-1"><i class="bi bi-suitcase"></i> Travel class</label>
                            <mat-chip-listbox>
                                <mat-chip-option *ngFor="let option of u.passOption" [selected]="option.label === selectedOption.label" color="accent"
                                    (click)="selectedOption = option">{{ option.label }}</mat-chip-option>
                            </mat-chip-listbox> 
                        </div> 
                    </div>
                    <div class="col-12 text-end pt-0">
                        <button class="btn btn-primary mb-n4 rounded-4" (click)="searchFlightOneWay()"> Search</button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trig"
[cdkConnectedOverlayOpen]="showTrav">
<form class="travellers" *ngIf="showTrav">
    <div *ngFor="let passengerType of u.passengerTypes" class="passengerPanel">
        <label for="passengerType">
            <p>{{ passengerType.label }}</p>
            <p class="fs-6 fw-light">{{passengerType.description}}</p>
        </label>
        <span class="b">
            <button mat-mini-fab (click)="u.incrementPassenger(passengerType.type); u.calculateTotal()" [disabled]="u.isIncremetentDisabilited(passengerType.type)">
                <mat-icon>add</mat-icon>
            </button>
            <input id="passengerType" class="number" [value]="u.passengers[passengerType.type]">
            <button mat-mini-fab (click)="u.decrementPassenger(passengerType.type); u.calculateTotal()" [disabled]="u.isDecrementDisabilited(passengerType.type)">
                <mat-icon>remove</mat-icon>
            </button>
        </span>
    </div>
    <div class="passengerPanel">
        <span></span>
        <button class="done" mat-button color="accent" (click)="u.calculateTotal(); showTrav = false">Done</button>
    </div>
</form>
</ng-template>
<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="triggerFrom"
[cdkConnectedOverlayOpen]="showSearchFrom">
<div class="searchCityFrom" *ngIf="showSearchFrom" >
    <app-city-and-airport-search (citySelected)="receiveData($event)"></app-city-and-airport-search>
</div>
</ng-template>
<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="triggerTo"
[cdkConnectedOverlayOpen]="showSearchTo">
<div class="searchCityTo" *ngIf="showSearchTo">
    <app-city-and-airport-search (citySelected)="receiveData($event)"></app-city-and-airport-search>
</div>
</ng-template>
