<section class="py-0">
    <div class="container">
        <div class="rounded-4 p-3 p-sm-5" style="background-image: url('assets/images/imageAirplane.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h1 class="text-dark display-3 pt-sm-5 my-5">Ready to take of?</h1>
                </div>
            </div>
            <app-flightsearch></app-flightsearch>
        </div>
    </div>
</section>