<div class="c">
<div class="card">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>flight</mat-icon>
                Flights
            </ng-template>
            <app-flightsearch></app-flightsearch>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>hotel</mat-icon>
                Hotel
                </ng-template>
                <app-hotelsearch></app-hotelsearch>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>place</mat-icon>
                Things to do
            </ng-template>
            <app-citysearch></app-citysearch>
        </mat-tab>
      </mat-tab-group>
</div>

</div>
