<nav class="navbar navbar-expand-lg bg-body-tertiary align-items-center"style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder">✈️ {{title}}</a>
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
      <div class="nav-item d-none d-md-block">
        <a class="nav-link active" aria-current="page" href="#" routerLink="/search" routerLinkActive>
          <i class="bi bi-airplane-fill"></i>
          Flight
        </a>
      </div>
    </div>
    <div class="navbar-nav d-grid gap-2 d-md-flex justify-content-md-end">
      <div class="nav-item">
        <ng-container  *ngIf="!isLoggedIn; else isAuth">
          <button class="btn btn-light rounded-pill text-primary" routerLink="/login" routerLinkActive>Login</button>
        </ng-container>
        <ng-template #isAuth>
          <button class="rounded-circle bg-info bg-opacity-10 position-relative border-0" style="width:50px;height:50px" [matMenuTriggerFor]="menu">
            <span class="text-primary translate-middle fw-bold position-absolute top-50 start-50">{{avatar}}</span>
          </button>
          <mat-menu #menu="matMenu" class="rounded-4">
            <button mat-menu-item routerLink="/myBooking" routerLinkActive>My bookings</button>
            <button class="text-danger" mat-menu-item (click)="logout()" routerLink="/search" routerLinkActive>Logout</button>
          </mat-menu>
        </ng-template>
      </div>
    </div>
  </div>
</nav>