/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body { 
    height: 100%;}
body { margin: 0; 
    color: #333;
    font-family: 'Poppins', sans-serif !important; 
}


html{
    --mat-datepicker-calendar-text-font: 'Poppins', sans-serif;
    --mat-select-trigger-text-font: 'Poppins', sans-serif;
    --mat-form-field-subscript-text-font: 'Poppins', sans-serif;
    --mat-option-label-text-font: 'Poppins', sans-serif;
    --mdc-text-button-label-text-font: 'Poppins', sans-serif;
}
.mdc-fab--mini {
    width: 25px !important;
    height: 25px !important;
    padding: 0px !important;
    box-shadow: none !important;
}
.b {
    display: flex;
    align-items: center;
}
.number{
    display: inline-block;
    border: none !important;
    width: 13px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    height: 100% !important;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.mat-mdc-standard-chip{
    --mdc-chip-label-text-font: 'Poppins', sans-serif !important;
}
.travellers{
    background-color: #fffbfe;
    width: 300px;
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}
 
.passengerPanel{
    margin-top:5px;
    margin-right:5px;
    margin-left: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
}
.searchCityFrom, .searchCityTo{
    height: 400px;
    border-radius: 15px;
    background: #fffbfe;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right:5px;
}
 
.description{
    display: block !important;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-block-start: 2px;
    text-align: center;
}
p{
    margin: 0px !important;
 }
.mat-mdc-checkbox{
    --mdc-form-field-label-text-font: 'Poppins', sans-serif;
 } 
.mdc-checkbox__background{
    border-radius: 5px !important;
}
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel{
    border-radius: 15px !important;
}
.cdk-overlay-container {
    z-index: 1500 !important;
    border-radius: 15px !important;
}
.mat-mdc-option{
    font-size: 14px !important;
}
.checkOut{
    width: 93%;
}
input:focus {
    outline: none; 
}
.icon-airplane{
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1rem;
}
.mat-datepicker-content, .dropdown-menu{
    border-radius: 15px !important;
 }
 .ngb-dp-header {
    border-radius: 15px 15px 0 0 !important;
 }
 .costum-date{
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
 }
.costum-date:focus-within {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}
